extends layout 

block main
  section.welcomepage
    h1 Welcome user! What would you like to do
    a.welcomebutton(href='/characterBuilder') make a character
    a.welcomebutton() view a character 

